<!DOCTYPE html>
<html>
<head>
    <title>Team 7 Movie Database</title>
</head>
<body>
<h1>Team 7 Movie Database</h1>
<form method="POST" action="/result">
    <label>Select a Data Set:</label>
    <select name="selection">
        <option value="Movie">Movie</option>
        <option value="Employee">Employee</option>
        <option value="Genre">Genre</option>
        <option value="Theater_Rooms">Theater Rooms</option>
        <option value="Location">Location</option>
        <option value="Seat">Seat</option>
        <option value="Attendee">Attendee</option>
        <option value="Actor">Actor</option>
        <option value="Directors">Directors</option>
        <option value="Job_Post">Job Post</option>
    </select>
    <input type="submit" value="Submit">
</form>
<!-- Link to the Reports Page -->
<h2>Reports Section</h2>
<p>View detailed reports and analytics:</p>
<a href="/reports">Go to Reports</a>
</body>
</html>